%h2 About
%p Hi, I'm Brian Hicks. I'm a Web and Graphic design student at #{link_to "John Brown University", "http://www.jbu.edu/"} planning to graduate in December of this year.
%p I built this site as part of the final class in my program. It has some of my work as a student on it, plus a little more if you look in my #{link_to "philosophy", "/philosophy"}.
%p As for the technical details, this site was built with #{link_to "Ruby on Rails", "http://rubyonrails.org"}. It hosts the image assets on #{link_to "Amazon S3", "http://s3.amazon.com/"} and uses #{link_to "jQuery", "http://jquery.com/"} for the front-end interaction. You can check out the source as well as more techical details of how I built the site on my #{link_to "Github", "https://github.com/reactor5/portfolio"}.
%p If you like what you see, here's my #{link_to "resume", "#"}. Read it and then #{link_to "hire me", "/contact"}!
