!!! html
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
    %title Carousel
    = stylesheet_link_tag "sencha-touch"
    = stylesheet_link_tag "compiled/read"
    = javascript_include_tag "sencha-touch.js"
    = javascript_include_tag "read.js"
  %body
    .entry.static
      / first page
    .entry.right.static
      / intro page
      = image_tag "philosophy_headers/steeped-in-design.png", :alt => "Steeped in Design", :title => "Steeped in Design"
      %p Why am I qualified to write this? From a professional viewpoint, I am only a student with little experience in real world design. However, aside from freelancing throughout college, I have attended John Brown University and have been enrolled in a wonderful program where I have had the opportunity to share and grow my ideas with different professionals and professors. In other words, I have been steeped in design, and I have come out a stronger brew. I am not claiming to have learned  everything or have all the answers in an ever evolving field: the future of the profession is something that has changed significantly even while I have been at John Brown. The ideas presented here are the foundation of my continuing growth as a designer.
      %p Brian Hicks
    .entry.right.static
      / three elements page
      %p There are three main points I consider when thinking about interactive desivgn. In my experience, these principles provide a great user experience no matter what the medium. For some mediums such as Flash it is much harder to attain the goal of usability, but overall I have found that the following are sound principles of interactive design. While these three may not be all-encompassing, I believe that they are the three most important parts of designing interactive experiences of all kinds. 
    .entry.right
      / simplicity page
      = image_tag "philosophy_headers/simplicity.png", :alt => "Simplicity", :title => "Simplicity"
      %p In his book “The Laws of Simplicity”, John Maeda says that simplicity is about subtracting the obvious, and adding the meaningful. I agree with him, and would add this: Simplicity is a process rather than a goal. But what is the goal of the process?
      %p For me, the ideal of simplicity is that each element is in it’s place and that it can only functionally exist there. Ask “why is this here?” and “why does this look like it does?” for each design element. Similar to the process of cutting a gem, the excess raw material is cut away until only what is necessary for the final product to shine remains. The result is a product that can be used intuitively.
      %blockquote.right
        Everything should be made as simple as possible, but not simpler.
        %span.attribution
          Albert Einstein
      %p Some people have a conflict with the goal of simplicity, imagining something similar to De Stijl: Black and white, straight lines, and primary colors. This is a common misconception, and some of the most well-designed websites in the world are very simple, but do not appear to be. The 37 Signals small business suite is a perfect example of this. They use color and stylized elements throughout their designs, but still remain aesthetically and functionally simple, and have been routinely praised for their ease of use.
      %p There is an important distinction, however, between simple and simplistic. To see something as simplistic would be to over-simplify the interface, which would only create more confusion for the end user. In all things there must be a balance, and too much simplicity can easily be as bad a thing as too little. Careful planning must be made for how to simplify a website, starting from the idea up.
      %blockquote.left
        When it is possible to reduce a system's functionality without significant penalty, true simplification is realized
        %span.attribution
          John Maeda
      %p Another hidden danger in simplifying an interface is the endless pursuit of perfection. A discussion of ideals, while important, should only be used as guidelines for the designer. The law of diminishing returns applies to the pursuit of simplicity; the more time invested in it, the lower the return on the time spent. The challenge in the process is to make sure that the optimum amount of time is spent.
      %p When the process of simplicity is completed, the end result is an intuitively designed user experience, where each visitor can be sure that their actions will have and only will have their intended consequences; that is, nothing will happen that the user did not explicitly request while everything that the user does request will happen flawlessly. This of course does not leave out the element of surprise, which is important in giving a website personality, if so desired.
    .entry.left
      / usability page
    .entry.right
      / usefulness page
    .entry.right
      / conclusion page
    .entry.right
      / thanks page
