!!! html
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
    %title Brian Hicks
    = stylesheet_link_tag "sencha-touch"
    = stylesheet_link_tag "compiled/read"
    = javascript_include_tag "sencha-touch.js"
    = javascript_include_tag "read.js"
  %body
    .entry.static
      / first page
    .entry.right.static
      / intro page
      = image_tag "philosophy_headers/steeped-in-design.png", :alt => "Steeped in Design", :title => "Steeped in Design"
      %p Why am I qualified to write this? From a professional viewpoint, I am only a student with little experience in real world design. However, aside from freelancing throughout college, I have attended John Brown University and have been enrolled in a wonderful program where I have had the opportunity to share and grow my ideas with different professionals and professors. In other words, I have been steeped in design, and I have come out a stronger brew. I am not claiming to have learned  everything or have all the answers in an ever evolving field: the future of the profession is something that has changed significantly even while I have been at John Brown. The ideas presented here are the foundation of my continuing growth as a designer.
      %p Brian Hicks
    .entry.right.static
      / three elements page
      %p There are three main points I consider when thinking about interactive desivgn. In my experience, these principles provide a great user experience no matter what the medium. For some mediums such as Flash it is much harder to attain the goal of usability, but overall I have found that the following are sound principles of interactive design. While these three may not be all-encompassing, I believe that they are the three most important parts of designing interactive experiences of all kinds. 
    .entry.right
      / simplicity page
      = image_tag "philosophy_headers/simplicity.png", :alt => "Simplicity", :title => "Simplicity"
      %p In his book “The Laws of Simplicity”, John Maeda says that simplicity is about subtracting the obvious, and adding the meaningful. I agree with him, and would add this: Simplicity is a process rather than a goal. But what is the goal of the process?
      %p For me, the ideal of simplicity is that each element is in it’s place and that it can only functionally exist there. Ask “why is this here?” and “why does this look like it does?” for each design element. Similar to the process of cutting a gem, the excess raw material is cut away until only what is necessary for the final product to shine remains. The result is a product that can be used intuitively.
      %blockquote.right
        Everything should be made as simple as possible, but not simpler.
        %span.attribution
          Albert Einstein
      %p Some people have a conflict with the goal of simplicity, imagining something similar to De Stijl: Black and white, straight lines, and primary colors. This is a common misconception, and some of the most well-designed websites in the world are very simple, but do not appear to be. The 37 Signals small business suite is a perfect example of this. They use color and stylized elements throughout their designs, but still remain aesthetically and functionally simple, and have been routinely praised for their ease of use.
      %p There is an important distinction, however, between simple and simplistic. To see something as simplistic would be to over-simplify the interface, which would only create more confusion for the end user. In all things there must be a balance, and too much simplicity can easily be as bad a thing as too little. Careful planning must be made for how to simplify a website, starting from the idea up.
      %blockquote.left
        When it is possible to reduce a system's functionality without significant penalty, true simplification is realized
        %span.attribution
          John Maeda
      %p Another hidden danger in simplifying an interface is the endless pursuit of perfection. A discussion of ideals, while important, should only be used as guidelines for the designer. The law of diminishing returns applies to the pursuit of simplicity; the more time invested in it, the lower the return on the time spent. The challenge in the process is to make sure that the optimum amount of time is spent.
      %p When the process of simplicity is completed, the end result is an intuitively designed user experience, where each visitor can be sure that their actions will have and only will have their intended consequences; that is, nothing will happen that the user did not explicitly request while everything that the user does request will happen flawlessly. This of course does not leave out the element of surprise, which is important in giving a website personality, if so desired.
    .entry.left
      / usability page
      = image_tag "philosophy_headers/usability.png", :alt => "Usability", :title => "Usability"
      %p Usability is the user experience as a whole. This takes into account the experience of the regular users who visit the site as well as those with special needs, such as those with vision impairments such as colorblindness or those using a screen reader.
      %p At a more finely grained level, this also is where the website must be tailored to the needs of it’s intended audience. For example, text size must be enlarged for a site aimed at older people. Or if the site is for business users, they will likely want many more options which must be organized accordingly. The goal is a streamlined and intuitive user experience.
      %blockquote.right.large
        People ignore design that ignores people.
        %span.attribution
          Frank Chimero
      %p There is also the matter of the number of interfaces that the user has to deal with. On the survey website I’m building, there are only two apparent interfaces: user mangement and survey management. Another quote from Maeda applies here: “Organization can make a system of many appear fewer.” In reality, a typical user has to deal with the management of many variables such as the type of question in the survey and how many there questions there are. However, by only showing small parts of many complex interfaces at once, the end seems to have very few real interfaces.
      %p Of course, it’s best if you can get your users to tell you where they’re stumbling. That can be taken care of through usability testing, whether that is formalized using eye tracking software, or informal the “hallway usability tests” used by Joel Spolsky. It is important not to misinterpret the results of these, but as Spolsky says, "If you do this to five people, you will learn 95% of what there is to learn about usability problems in your code."
    .entry.right
      / usefulness page
      = image_tag "philosophy_headers/usefulness.png", :alt => "Usefulness", :title => "Usefulness"
      %p Utility is, at it’s base, what the website does. It’s the motivation for the user to stay on the site, so it’s important to get the concept behind the site correct. Usability testing can help with this, but figuring out why users go to and stay on a site is not really findable by such methods. To do this, it’s important to listen to your users feedback on a site (real users, not testers) and look at the statistics of the site itself. What are the most visited pages and sections? There are ways to track where your real users are going and what they are doing, and for this purpose that kind of surveillance is very useful.
      %p It’s a good idea to hold the idea of a site very loosely. If a site starts out as a social network for programmers but then turns into one for designers, it’s a horrible idea to try and force programmers in and designers out. In fact, that’s the worst thing you could do, especially if there is a community established on the site. On the other hand, it’s also good not to be continually questioning an idea. It’s very useful especially in designing a website to know what idea you are pushing for.
      %blockquote.left
        The difference between utility and utility plus beauty is the difference between telephone wires and the spider web.
        %span.attribution
          Edwin Way Teale
      %p Unfortunately, some sites are just not successful. And in these cases, the idea may be bad, but there may also be problems in the market: you may be up against bigger and more entrenched competition. 
      %p Of course, it doesn’t help if a site has no meaning for it’s existence in the first place. 
    .entry.left
      / conclusion page
      = image_tag "philosophy_headers/now-what.png", :alt => "Now What?", :title => "Now What?"
      %p Using the three components of Simplicity, Usability, and Usefulness, you can build great sites. It's not a cure-all, but it sure has helped me as I've been growing in my skills as a designer.
      %p One of my favorite things about designing websites is the process of seeing them come to life as I code. Similarly, the process of seeing my thoughts come together to create a unified philosophy of design has been very interesting. In writing this, I have actually learned even more about design. This just goes to show that every experience should allow you to grow.
      %p So don't use this as universal truth or as some thing to hold up in the sky. Get out there and design something, and you'll see for yourself what a learning experience everything can be.
    .entry.right
      / thanks page
      %p Thanks to everyone who helped make my education a reality, especially the professors and staff at JBU and my wife Anne.
      %p Fonts: Helvetica and Lobster
      %p Built with Sencha Touch, powered by Ruby on Rails.
      %p
        And if you like what you've seen here, check out my website:
        = link_to "www.brianthicks.com", "http://www.brianthicks.com"
      %p
        Brian Hicks
        %br/
        = link_to "brian@brianthicks.com", "mailto:brian@brianthicks.com"
        %br/
        = link_to "(719) 351-6993", "tel:7193516993"
