- form_for @portfolio_item, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :content
    %br
    = f.text_field :content
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p.newPaperclipFiles
    = f.fields_for :assets do |asset|
      - if asset.object.new_record?
        = asset.file_field :image
  %p.existingPaperclipFiles
    = f.fields_for :assets do |asset|
      - unless asset.object.new_record?
        .thumbnail
          = link_to(image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original))
          = asset.check_box :_delete
  %p
    = f.submit
