.post
  .viewer
    .slider
      - object.assets.each do |a|
        %p{ :id => "full_#{a.id}" }
          = image_tag a.image.url(:large)
  .info
    .words
      %h2.title
        = link_to object.title, object
      %p.description=object.content
      %p.datetime= object.updated_at.strftime("Posted on %A, %b %d")
      - unless object.category.nil?
        %p.category
          Category: #{ link_to object.category.capitalize, "/#{object.category}" }
      -if user_signed_in?
        %p.actions
          = link_to 'Edit', edit_portfolio_item_path(object)
          = link_to 'Destroy', object, :confirm => 'Are you sure?', :method => :delete
    .thumbnails
      - object.assets.each do |a|
        %p{ :id => "thumb_#{a.id}" }
          = image_tag a.image.url(:thumb)
