.post{ :id => object.id }
  .viewer
    .slider
      - object.assets.each_with_index do |a, i|
        %p.full{ :name => "#{object.id}_#{i}" }
          = image_tag a.image.url(:large)
  .info
    .words
      %h2.title
        = link_to object.title, piece_path(object)
      %p.description=object.content.html_safe
      %p.datetime= object.updated_at.strftime("Posted on %A, %b %d")
      - unless object.category.nil?
        %p.category
          Category: #{ link_to object.category.capitalize, category_path(object.category) }
      -if user_signed_in?
        %p.actions
          = link_to 'Edit', edit_portfolio_item_path(object)
          = link_to 'Destroy', object, :confirm => 'Are you sure?', :method => :delete
    .thumbnails
      - object.assets.each_with_index do |a, i|
        %p.thumb{ :name => "#{object.id}_#{i}" }
          = image_tag a.image.url(:thumb)
