- title "Portfolio Item"

%p
  %strong Content:
  = @portfolio_item.content
%p
  %strong Title:
  = @portfolio_item.title
%p
  %strong User:
  = @portfolio_item.user_id
%p
  %strong Assets:
  - @portfolio_item.assets.each do |a|
    = image_tag a.image.url(:thumb)
    = image_tag a.image.url(:small)
    %br


%p
  = link_to "Edit", edit_portfolio_item_path(@portfolio_item)
  |
  = link_to "Destroy", @portfolio_item, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", portfolio_items_path
